<div class="container bg-warning mb-sm-3">
  <div class="row text-center" style="padding:10px 0;">
    <div class="col col-lg-4 borderClass">
      <a href="#">
        <p>Privacy Policy</p>
      </a>
      <a href="#">
        <p class="marginTop">Terms and Conditions</p>
      </a>
    </div>
    <div class="col col-lg-4 borderClass">
      <a href="#">
        <p>Contact US</p>
      </a>
      <a href="#">
        <p class="marginTop">About Us</p>
      </a>
    </div>

    <div class="col col-lg-4 faPadding">

      <a href="#">
        <fa-icon [icon]="faFacebook" size="lg"></fa-icon>
      </a>
      <a href="#">
        <fa-icon [icon]="faInstagram" size="lg"></fa-icon>
      </a>
      <a href="#">
        <fa-icon [icon]="faTwitter" size="lg"></fa-icon>
      </a>
      <a href="#">
        <fa-icon [icon]="faYoutube" size="lg"></fa-icon>
      </a>
    </div>
  </div>
</div>
