<div class="container">
  <div class="row">
    <div class="col col-lg-12 text-center ">
      <header class="site-header" id="header">
        <h1 class="site-header__title" data-lead-id="site-header-title">THANK YOU!</h1>
      </header>

      <div class="main-content">
        <i class="fa fa-check main-content__checkmark" id="checkmark"></i>
        <div class="main-content__body" style="margin: 40px 0;" data-lead-id="main-content-body">
          <p> We have received your details.</p>
          <p> We'll contact you soon.</p>
          <p> Thanks for being you.</p>
        </div>
      </div>
    </div>
  </div>
</div>
