
<div class="container">
  <h1><span>Services</span></h1>
  <div class="row text-center">
    <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
      <button value="masson" (click)="selectService('masson')"><img src="../../assets/images/mason.jpeg" class="img-fluid">
        <p><b>Masson</b></p>
      </button>
    </div>
    <div class="col col-lg-4 ">
      <button value="construction" (click)="selectService('construction')"><img src="../../assets/images/construction.jpeg" class="img-fluid">
        <p><b>Construction</b></p>
      </button>
    </div>
    <div class="col col-lg-4">

      <button value="plumber" (click)="selectService('plumber')"><img src="../../assets/images/plumber.jpeg" class="img-fluid">
        <p><b>Plumber</b></p>
      </button>
    </div>
  </div>
  <br>  <div class="row text-center">
    <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
      <button value="capernter" (click)="selectService('capernter')"><img src="../../assets/images/carpenter.jpeg" class="img-fluid">
        <p><b>Capernter</b></p>
      </button>
    </div>
    <div class="col col-lg-4 ">
      <button value="electrician" (click)="selectService('electrician')"><img src="../../assets/images/electrician.jpeg" class="img-fluid">
        <p><b>Electrician</b></p>
      </button>
    </div>
    <div class="col col-lg-4">

      <button value="painter" (click)="selectService('painter')"><img src="../../assets/images/painter.jpeg" class="img-fluid">
        <p><b>Painter</b></p>
      </button>
    </div>
  </div>
  <br>
  <h1><span>Why Us</span></h1>
  <div class="row text-center">
    <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 ">
      <img src="../../assets/images/agent.png" class="img-fluid">
      <p><b>Trusted and verified Agents</b></p>
    </div>
    <div class="col col-lg-4 ">
      <img src="../../assets/images/userFriendly.png" class="img-fluid">
      <p><b>User friendly and effective</b></p>
    </div>
    <div class="col col-lg-4">

      <img src="../../assets/images/destination.png" class="img-fluid">
      <p><b>One step destination</b></p>
    </div>
  </div>
  <br>
  <div class="row text-center">
    <div class="col col-lg-4">
      <img src="../../assets/images/feedback.png" class="img-fluid">
      <p><b>Customer Feedback</b></p>

    </div>
    <div class="col col-lg-4">
      <img src="../../assets/images/professionalServices.png" class="img-fluid">
      <p><b>Professional Services</b></p>

    </div>

    <div class="col col-lg-4">
      <img src="../../assets/images/services.png" class="img-fluid">
      <p><b>12/7 Services</b></p>
    </div>
  </div>

